* {
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

/* toGuess */
.wordle {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 10px;
  border-radius: 10%;
}

.container {
  display: flex;
  margin: 0 auto;
  opacity: 0.5;
}

.actual {
  opacity: 1;
}

.letter {
  background-color: beige;
  width: 20px;
  border-radius: 10px;
  border: 5px solid black;
  text-align: center;
  margin: 10px;
  padding: 20px;
  font-size: x-large;
}

.current {
  background-color: black;
  color: beige;
}

#correct {
  background-color: chartreuse;
  border-color: chartreuse;
}

#exists {
  background-color: orange;
  border-color: orange;
}

#incorrect {
  background-color: grey;
  border-color: grey;
}

h3#correct {
  color: chartreuse;
  border: none;
  background: none;
}

h3#incorrect {
  color: brown;
  border: none;
  background: none;
}

/* keyboard */

.keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  max-width: 90%;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.enviar {
  background-color: greenyellow;
  grid-column: span 2;
}

.borrar {
  background-color: red;
}

.letterKey {
  height: auto;
  min-width: fit-content;
  text-align: center;
  border: 3px solid grey;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
